<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="details content">
      <img class='bannerImg'src="/images/banners/banner<%= rdm %>.jpg" alt="Star Wars Banner" />
      <h2 id="blog-title"><%= blog.title %></h2>
      <div class="blog-content">
        <p id="blog-author">~<%= blog.author %> </p>
        <p id="blog-body"><%= blog.body %></p>
        <p id="blog-timestamp"><%= blog.createdAt %> </p>
      </div>
      <a data-doc="<%= blog._id %>"
      <% if (blog.isEternal === true){ %>
        class='eternal'
        <% }else{ %>
      class="delete" 
      <% } %>>
    <img id="delete-icon" src="/images/delete.png" alt="Delete Icon">
    </a>
    </div>
    <%- include('../partials/footer.ejs') %>

    <script>
      // Create the Delete Functionality//
      const deleteBtn = document.querySelector('a.delete');
      deleteBtn.addEventListener('click', (e) => {

        // Send request then redirect to main page 
        const endpoint = `/blogs/${deleteBtn.dataset.doc}`;
        fetch(endpoint, {
          method: "Delete",
        })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err))
      })
    </script>

  </body>
</html>
